.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio>span::before {
  @extend %radio;
}

.custom-checkbox>span::before {
  @extend %checkbox;
}

.custom-radio>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-radio>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}

.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}

.custom-radio>input:checked+span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-checkbox>input:checked+span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio>input:disabled+span::before {
  background-color: #e9ecef;
}

.custom-checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}

.custom__text {
  color: $color-white;
  @include font($size: 1.8rem, $height: 2.3rem, $weight: 400);
}
