.mailing-form, .hotel-search, .invitation, .advantages__content, .advantages__list, .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__list {
  padding: 103px 85px;
  background: #82B3D3;
  flex-basis: 33.3%;
}

.header__custom-menu, .header__menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: PT Sans, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 64px;
  padding: 0 70px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header__menu {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.header__logo {
  position: relative;
}

.header__item {
  text-transform: capitalize;
  padding: 20px 16px;
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
}

.header__item-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__item:hover {
  border-bottom: 2px solid #756257;
}

.header__custom-menu {
  gap: 20px;
}

.header__menu-button {
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 8px 35px;
  border-radius: 4px;
  background-color: #756157;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px 30px 30px;
}

.footer__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 194px 5px 195px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
}
.footer__phone :hover {
  color: blue;
}

.footer__icon-phone {
  text-decoration: none;
  color: #000;
}

.footer__icon {
  cursor: pointer;
}

.about {
  height: 100%;
  background: url("/src/img/index-background.svg") center/cover no-repeat;
  padding-top: 51px;
  margin-bottom: 69px;
}

.about__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.about__welcome {
  margin-bottom: 11px;
}

.about__the {
  margin-bottom: 54px;
}

.about__divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  gap: 30px;
  margin-bottom: 21px;
}

.description__title {
  text-align: center;
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
}

.description__text {
  text-align: center;
  margin-bottom: 69px;
  color: #333;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__list-white {
  background: rgba(131, 179, 211, 0.12);
}

.advantages__list-grey {
  background: rgba(131, 179, 211, 0.2);
}

.advantages__content {
  gap: 30px;
}

.advantages__title {
  text-align: center;
  color: #000;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
}

.advantages__title_white {
  color: #FFFFFF;
}

.advantages__border {
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.advantages__border-black {
  width: 60px;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.advantages__border_white {
  background: rgba(255, 255, 255, 0.3);
}

.advantages__text {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
}

.advantages__text_white {
  color: #FFFFFF;
}

.advantages__image-city {
  flex-basis: 66.6%;
  background: url("/src/img/photo-1.svg") right 50%/cover no-repeat;
}

.advantages__image-bridge {
  flex-basis: 66.6%;
  background: url("/src/img/photo-2.svg") left 50%/cover no-repeat;
}

.invitation {
  padding: 64px 0;
  gap: 20px;
}

.invitation__title {
  text-align: center;
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
}

.invitation__text {
  text-align: center;
  color: #333;
  margin-bottom: 69px;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.hotel-search {
  padding: 96px 304px;
  gap: 10px;
}

.hotel-search__title {
  text-align: center;
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
}

.hotel-search__text {
  text-align: center;
  color: #333;
  margin-bottom: 69px;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.hotel-search__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 50px;
  gap: 10px;
  color: #FFFFFF;
  background: #756157;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.mailing-form {
  padding: 96px 258px 104px 258px;
  gap: 10px;
  background-image: url("/src/img/font-input.jpg");
  background-position: top;
  background-size: cover;
}

.mailing-form__title {
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
}

.mailing-form__text {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 54px;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.mailing-form__input {
  display: flex;
  align-items: center;
  border: none;
  height: 52px;
  padding: 12px 20px;
  width: 412px;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.mailing-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  height: 52px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  color: #FFFFFF;
  background: #82B3D3;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
}

/*# sourceMappingURL=style.css.map */
