.advantages__content, .advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: PT Sans, sans-serif;
}

header {
  display: flex;
  height: 64px;
  padding: 0 70px;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header__menu {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.header__logo {
  position: relative;
}

.header__menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__item {
  padding: 20px 16px;
  text-transform: capitalize;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
}

.header__item:hover {
  border-bottom: 2px solid #756257;
}

.header__custom-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.header__menu-button {
  padding: 8px 35px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #756157;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.about {
  height: 100%;
  background: url("/src/img/index-background.svg") center/cover no-repeat;
  padding-top: 51px;
  margin-bottom: 69px;
}

.about__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.about__welcome {
  margin-bottom: 11px;
}

.about__the {
  margin-bottom: 54px;
}

.about__divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 21px;
}

.description__title {
  text-align: center;
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
}

.description__text {
  text-align: center;
  color: #333;
  margin-bottom: 69px;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__list {
  padding: 103px 85px;
  background-color: #82B3D3;
  flex-basis: 33.3%;
}

.advantages__content {
  gap: 30px;
}

.advantages__title {
  text-align: center;
  color: #000;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
}

.advantages__title_white {
  color: #FFFFFF;
}

.advantages__border {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.advantages__text {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
}

.advantages__text_white {
  color: #FFFFFF;
}

.advantages__image-city {
  flex-basis: 66.6%;
  background: url("/src/img/photo-1.svg") right 50%/cover no-repeat;
}

.advantages__image-bridge {
  flex-basis: 66.6%;
  background: url("/src/img/photo-2.svg") left 50%/cover no-repeat;
}

/*# sourceMappingURL=style.css.map */
