$color-white: #FFFFFF;
$color-black: #000;
$color-border: #756257;
$color-menu-buttom: #756157;
$color-text: #333;
$color-background-blue: #82B3D3;
$color-input: #F2F2F2;
$color-background-white: rgba(131, 179, 211, 0.12);
$color-background-gray: rgba(131, 179, 211, 0.20);
$color-background-border: rgba(0, 0, 0, 0.30);
$color-background-border-white: rgba(255, 255, 255, 0.30);