%standard_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%advantages_style {
  padding: 103px 85px;
  background: $color-background-blue;
  width: calc(100% / 3);
}

%header_style {
  display: flex;
  align-items: center;
}