.about {
  height: 485px;
  background: url("/src/img/index-background.svg") center / cover no-repeat;
  padding-top: 51px;
}

.about__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.about__welcome {
  margin-bottom: 11px;
}

.about__the {
  margin-bottom: 54px;
}

.about__divider {
  display: flex;
  justify-content: center;
  align-items: center;
}
