.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__city {
  padding: 103px 85px;
  background-color: $color-background-city;
  flex-basis: 33%;
  @extend %standard_style;
}

.advantages__square {
  padding: 103px 85px;
  background-color: $color-background-square;
  flex-basis: 33%;
  @extend %standard_style;
}

.advantages__road {
  padding: 103px 85px;
  background-color: $color-background-road;
  flex-basis: 33%;
}

.advantages__tourists {
  padding: 103px 85px;
  background-color: $color-background-tourists;
  flex-basis: 33%;
}

.advantages__content {
  gap: 30px;

  @extend %standard_style;
}

.advantages__title {
  text-align: center;
  color: $color-black;

  @include font($size: 2.4rem, $height:2.8rem)
}

.advantages__title_white {
  color: $color-white;
}

.advantages__border {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.30);
}

.advantages__text {
  text-align: center;
  color: $color-text;

  @include font($size: 1.8rem, $height:2.1rem, $weight: 400)
}

.advantages__text_white {
  color: $color-white;
}

.advantages__image-city {
  flex-basis: 33%;
  background: url("/src/img/photo-1.svg") lightgray 50% / cover no-repeat;
}

.advantages__image-bridge {
  flex-basis: 33%;
  background: url("/src/img/photo-2.svg") center / cover no-repeat;
}