.catalog {
  @extend %hotels-style;
  height: 412px;
  padding: 35px 70px;
  gap: 40px;
  background: url("/src/img/catalog.jpg") center / cover no-repeat;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__heading {
    color: $color-white;
    @include font($size: 6.0rem, $height: 7.8rem);
  }

  &__nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  &__text {
    color: $color-white;
    @include font($size: 1.6rem, $height: 2.1rem, $weight: 400);
  }

}


.catalog__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}


.catalog-filter {
  display: flex;
  align-items: flex-start;
  gap: 70px;

  &__infrastructure {
    @extend %hotels-style;
    gap: 32px;
  }

  &__item {
    @extend %hotels-style;
    gap: 16px;
  }

  &__heading {
    color: $color-white;
    @include font($size: 2.0rem, $height: 2.4rem);
  }

  &__tick {
    border-radius: 15px;
    width: 20px;
    height: 19px;
  }

  &__checkbox-block {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__checkbox-text {
    color: $color-white;
    @include font($size: 1.8rem, $height: 2.3rem, $weight: 400);
  }

  &__type-housing {
    @extend %hotels-style;
    gap: 32px;
  }
}

.catalog-price-block {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 70px;

  &__cost {
    @extend %hotels-style;
    gap: 32px;
  }

  &__price {
    display: flex;
    align-items: flex-start;
    gap: 2px;
  }

  &__price-input {
    position: relative;
  }

  &__number {
    position: absolute;
    top: 12px;
    left: 20px;
    color: $color-black;

    @include font($size: 1.8rem, $height: 2.4rem, $weight: 700);
  }
}

.input-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: $color-input;
  border-radius: 4px 0 0 4px;
  width: 143px;
  padding-left: 106px;

  &__border {
    border-radius: 0 4px 4px 0;
  }
}

.catalog-price__button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.catalog-filter__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}








