form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.mailing-form {
  padding: 96px 258px 104px 258px;
  gap: 10px;
  background-image: url("/src/img/font-input.jpg");
  background-position: top;
  background-size: cover;

  @extend %standard_style;
}

.mailing-form__title {
  text-align: center;
  color: $color-white;

  @include font($size: 3.0rem, $height: 3.6rem)
}

.mailing-form__text {
  text-align: center;
  color: $color-white;
  margin-bottom: 54px;

  @include font($size: 2.2rem, $height: 2.6rem, $weight: 400)
}

.mailing-form__input {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0 20px 0 12px;
  width: 412px;
  border-radius: 4px 0 0 4px;
  background: $color-input;

  @include font($size: 1.8rem, $height: 2.4rem, $weight: 400);
}

.button__blue {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 0 50px 0 50px;
  border-radius: 0 4px 4px 0;
  background: $color-background-blue;

  @include font($size: 2.0rem, $height: 3.6rem, $weight: 700)
}
