.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;

  &__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 195px;

    @include font($size: 4.0rem, $height: 4.0rem, $weight: 400);
    :hover {
      color: blue;
    }
  }

  &__icon-phone {
    text-decoration: none;
    color: $color-black;
  }

  &__icon {
    cursor: pointer;
  }
}

.socials__link {
  opacity: 0.75;
}
