header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header__menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header__logo {
  position: relative;
}


.header__menu-item {
  @extend %header_style;
}

.header__item {
  text-transform: capitalize;
  color: $color-black;

  @include font($size: 2.0rem, $height: 2.4rem);
}

.header__links {
  padding: 20px 16px;
}

.header__item-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__item:hover {
  border-bottom: 2px solid $color-border;
}

.header__custom-menu{
  gap: 20px;

  @extend %header_style;
}

.header__menu-button {
  text-align: center;
  border: none;
  height: 36px;
  padding: 0 35px 0 35px;
  border-radius: 4px;
  background-color: $color-menu-buttom;
  color: $color-white;

  @include font($size: 1.6rem, $height: 2.0rem);
}
